.aboutUsTitle {
    font-family: 'customFont';
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 20px;
}

.aboutUsDesc {
    font-family: 'customFont';
    font-weight: 500;
    font-size: 40px;
}
