@import '../../../app/[locale]/variables.scss';

.navbar {
    font-size: 13px;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: auto 0;
    justify-content: space-between;
    align-items: center;
    color: white;

    @media screen and (min-width: $tablet) {
        position: relative;
        flex: 1;
        text-align: center;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    .link {
        font-family: 'customFont';
        font-weight: 500;
        text-align: center;
        @media screen and (min-width: $desktop) {
            display: inline-block;
            min-width: 100px;
        }
    }

    .link:hover {
        font-weight: 700;
    }

    .active {
        font-weight: 700;
    }
}

.white {
    .link {
        color: #fff;
    }
}

.black {
    .link {
        color: #000;
    }
}

.padding {
    @media screen and (min-width: $desktop) {
        margin-right: 7px;
    }
}

.margin {
    @media screen and (min-width: $desktop) {
        margin-right: -13px;
    }
}
