@import '../../../app/[locale]/variables.scss';

.navbar {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    left: 0;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: auto 0;
    justify-content: space-around;
    align-items: center;
    font-family: 'fontRoman';
    color: white;

    @media screen and (min-width: $tablet) {
        position: relative;
        justify-content: center;
        padding: 0.5rem 1rem;
        gap: 2rem;
        height: 60px;
    }

    .link:hover {
        font-family: 'fontBlack';
    }

    .active {
        font-family: 'fontBlack';
    }
}
