@import '../../../app/[locale]/variables.scss';

.photographerDetails {
    transform: none !important;
    @media screen and (min-width: $desktop) {
        overflow: hidden;
        height: 100dvh;
    }

    .horizontalScroll {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
        }
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: $desktop) {
            flex: 0 0 100vw; /* Chaque section occupe 100% de la largeur de l'écran */
            height: 100dvh;
        }
    }

    .hover {
        opacity: 0.8;
    }

    .link {
        width: 100%;
    }

    .title {
        position: fixed;
        z-index: 2;
        font-family: 'fontBold';
        text-transform: uppercase;
        bottom: 1rem;
        left: 1rem;
        @media screen and (min-width: $desktop) {
            font-size: 40px;
        }
    }

    .image {
        object-fit: contain;
        width: 100%;
        height: auto;
        @media screen and (min-width: $desktop) {
            width: 100%;
            height: 600px !important;
        }
    }

    .nav {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 2;
    }
}

.projectTitle {
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: $desktop) {
        font-size: 30px;
    }
    h3 {
        font-family: 'fontBold';
    }
}
