@import '../../../app/[locale]/variables.scss';

.photographerDetails {
    @media screen and (min-width: $desktop) {
        overflow: hidden;
        height: 100vh;
        position: relative;
    }

    .horizontalScroll {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        gap: 100px;
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 40px;
        margin-bottom: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        font-family: 'fontRoman';
        text-transform: uppercase;
        z-index: 2;
    }

    .image {
        max-height: 700px;
    }
}
