@import '../../../app/[locale]/variables.scss';

.infos {
    @media screen and (max-width: $desktop) {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    }
    a,
    p {
        font-family: 'customFont';
        font-weight: 700;
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 20px;

        // > * {
        //     background-color: white;
        // }
    }
    .container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 20px;
        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
        }
    }

    // .container2 h3 {
    //     background-color: white;
    // }
    .infosTitle {
        font-family: 'customFont';
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .infosContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .infosContainerCredits {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
            font-size: 16px;
        }
    }

    .creditContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media screen and (min-width: $desktop) {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
        }
    }

    // .creditContainer h3 {
    //     background-color: white;
    // }
}

.flexInfos {
    display: flex;
    gap: 1rem;
    // > * {
    //     background-color: white;
    // }
}
