@import '../../app/[locale]/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    background-color: transparent;

    .headerItem {
        transform: none !important;
        @media screen and (min-width: $desktop) {
            width: 150px;
            display: flex;
        }
    }
}

.headerMobile {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 1rem;
    position: fixed;
    gap: 0.5rem;
    z-index: 3;
    top: 0;
    width: 100%;

    .headerMobileContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
