@use '@/styles/variables' as *;

.sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    list-style: none;
    a {
        font-size: 13px;
        text-transform: uppercase;
        font-family: 'customFont';
        font-weight: 400;
    }

    li {
        position: relative;
    }

    .circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: white;
        border-radius: 200px;
        position: absolute;
        top: 3px;
        right: -13px;
    }

    .link {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .active {
        font-family: 'customFont';
        font-weight: 700;
    }
}
