@import '../../../app/[locale]/variables.scss';

.projectDetails {
    transform: none !important;
    height: 100dvh;
    cursor: url('/arrowLeft.png'), auto;
    @media screen and (min-width: $desktop) {
        overflow: hidden;
    }

    .horizontalScroll {
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 1rem;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    .section {
        height: auto;
        @media screen and (min-width: $desktop) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100dvh;
            flex: 0 0 auto;
        }
    }

    .name {
        position: fixed;
        z-index: 2;
        font-family: 'customFont';
        font-weight: 700;
        text-transform: uppercase;
        bottom: 1rem;
        line-height: 0.9;
        left: 1rem;
        color: white;
        @media screen and (min-width: $desktop) {
            font-size: 50px;
            color: black;
        }
    }

    .image {
        height: auto !important;
        object-fit: contain;
        width: 100%;
        vertical-align: top;
        @media screen and (min-width: $desktop) {
            height: 600px !important;
        }
    }

    .title {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        font-family: 'customFont';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        @media screen and (min-width: $desktop) {
            font-size: 20px;
            color: black;
        }
    }
}

.imageContainer {
    display: inline-block;
    width: 100%;
}

.arrowLeft,
.arrowRight {
    pointer-events: all; // Permet de cliquer sur les boutons
    border: none;
    color: black !important;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 17px !important; // Réduction de la taille
    height: 15px !important;

    &:hover {
        transform: scale(1.2);
    }
}

.arrowLeft {
    margin-left: 7px;
}

.arrowRight {
    margin-right: 7px;
}
