@import '../../../app/[locale]/variables.scss';

.projectDetails {
    transform: none !important;
    @media screen and (min-width: $desktop) {
        overflow: hidden;
        height: 100vh;
    }

    .horizontalScroll {
        display: flex;
        flex-direction: column;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
        }
    }

    .section {
        position: relative;
        height: 600px;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        flex: 0 0 auto;
    }

    .name {
        position: fixed;
        z-index: 2;
        font-family: 'fontBold';
        text-transform: uppercase;
        bottom: 1rem;
        left: 1rem;
        @media screen and (min-width: $desktop) {
            font-size: 40px;
        }
    }

    .image {
        object-fit: contain;
        width: 100%;
    }

    .title {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-family: 'fontBold';
        text-transform: uppercase;
        font-size: 20px;
    }
}
