@use '@/styles/variables' as *;

.contact {
    position: relative;
    height: 100dvh;
    width: 100%;
    @media screen and (min-width: $desktop) {
        background-image: url('/contact.png');
    }
}

.infos {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}
