.contact {
    position: relative;
    .contactContainer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        padding: 1rem;
    }

    .aboutUsContainer {
        width: 55%;
    }

}
