@use '@/styles/variables' as *;

.directorDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    text-align: center;
    position: relative;

    .title {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        z-index: 2;
        font-size: 20px;
        font-family: 'customFont';
        font-weight: 700;
        text-align: start;
        line-height: 0.9;
        color: white;
        text-transform: uppercase;
        @media screen and (min-width: $desktop) {
            font-size: 50px;
        }
    }

    .videosContainer {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory; // Active le snap vertical
        overflow-y: scroll; // Active le défilement

        .video {
            width: 100%;
            height: 100dvh;
            object-fit: cover;
        }
    }

    .section {
        position: relative;
        width: 100%;
        height: 100dvh;
        scroll-snap-align: start; // Fait en sorte que chaque vidéo s’aligne correctement
        cursor: pointer;
    }
    .videoTitleContainer {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-family: 'customFont';
        font-weight: 700;
    }

    .videoTitle {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        text-transform: uppercase;
        color: white;
        font-family: 'customFont';
        font-weight: 500;
        z-index: 2;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        @media screen and (min-width: $desktop) {
            font-size: 20px;
        }
    }

    .videoTitlePlayer {
        position: absolute;
        top: 1rem;
        left: 1rem;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        font-family: 'customFont';
        font-weight: 700;
        z-index: 4005;
    }

    .nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;
    }
}

.videoLightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: black; /* Fond semi-transparent */
    z-index: 3000;
    cursor: pointer;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.videoPlayer {
    width: 100%;
    height: 100dvh;
    border-radius: 8px;
}

.closeButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3001;
    cursor: pointer;
}

.player {
    width: 100%;
    height: 100dvh;
}
