@import '../../../app/[locale]/variables.scss';

.photographerContainer {
    position: relative;
    height: 100dvh;

    .textContainer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 1rem;
        .nameContainer {
            display: flex;
            font-size: 20px;
            flex-direction: column;
            list-style: none;
            text-transform: uppercase;
            font-family: 'customFont';
            font-weight: 400;
            color: white;
            @media screen and (min-width: $desktop) {
                font-size: 50px;
            }
            .name {
                cursor: pointer;
                max-height: 50px;
            }
            .name:hover {
                font-family: 'customFont';
                font-weight: 500;
            }
        }
    }

    .photoContainer {
        width: 100%;
        height: 600px;
        display: flex;
        z-index: -1;
        overflow: hidden;
        overflow-y: hidden;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        top: 50%;
        left: 50%;
        height: 100%;

        transform: translate(-50%, -50%);
        .backgroundPhoto {
            width: 100%;
            object-fit: cover;

            // @media screen and (min-width: $desktop) {
            //     height: 600px !important;
            // }
        }
    }
}

.titlePhoto {
    color: white;
    font-family: 'customFont';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    p {
        font-family: 'customFont';
        font-weight: 500;
    }
    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }
}
