@import '../../../app/[locale]/variables.scss';

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    height: 100vh;
    justify-content: center;

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            gap: 50px;
        }
    }

    p {
        font-size: 20px;
        color: #fff;
        font-family: 'fontMedium';
        @media screen and (min-width: $desktop) {
            font-size: 40px;
        }
    }

    .directorName {
        text-transform: uppercase;
    }
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; // Pour que la vidéo soit en arrière-plan
    overflow: hidden;
    overflow-y: hidden;

    .backgroundVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
