@import '../../../app/[locale]/variables.scss';

.localeButton {
    flex: 0 0 auto;
    width: 150px;
    text-align: right;
    position: relative;
}

.currentLocale {
    color: white;
    text-transform: uppercase;
    cursor: default;
    // font-family: "customFont";
    font-weight: 500;
}

.localeList {
    color: white;
    list-style: none;
    text-transform: uppercase;
    position: absolute; // Positionne la liste en dehors du flux normal
    top: 100%; // Place la liste juste en dessous de la locale actuelle
    right: 0; // Aligne la liste à droite
    background-color: transparent;
}
.locale {
    cursor: pointer;
    opacity: 0.7;
    font-weight: 500;
}

.locale:hover {
    opacity: 1;
}

.black {
    color: black;
}

.white {
    color: white;
}
